.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: 150px;
    height: 150px;
    padding: 50px;
    margin: 20px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}